.title {
	margin: 50px 0px;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}

.category {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 15%;
	height: 80px;
	justify-content: center;
}

.category.style {
	background-color: #57c4ff31;
}

.category.fashion {
	background-color: #da85c731;
}

.category.food {
	background-color: #7fb88133;
}

.category.travel {
	background-color: #ff795736;
}

.category.culture {
	background-color: #ffb04f45;
}

.category.coding {
	background-color: #5e4fff31;
}

.image {
	border-radius: 50%;
}

@media screen and (max-width: 1028px) {
	.category {
		width: 30%;
	}
}

@media screen and (max-width: 640px) {
	.category {
		width: 40%;
	}
}

@media screen and (max-width: 450px) {
	.category {
		width: 100%;
	}
}
